html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 100px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.quote-card {
    background: #fff;
    color: #222222;
    padding: 20px;
    padding-left: 50px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
    position: relative;
    overflow: hidden;
    min-height: 120px;
}

.quote-card p {
    font-size: 22px;
    line-height: 1.5;
    margin: 0;
    max-width: 80%;
}

.quote-card cite {
    font-size: 16px;
    margin-top: 10px;
    display: block;
    font-weight: 200;
    opacity: 0.8;
}

.quote-card:before {
    font-family: Georgia, serif;
    content: "“";
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 5em;
    color: rgba(238, 238, 238, 0.8);
    font-weight: normal;
}

.quote-card:after {
    font-family: Georgia, serif;
    content: "”";
    position: absolute;
    bottom: -110px;
    line-height: 100px;
    right: -32px;
    font-size: 25em;
    color: rgba(238, 238, 238, 0.8);
    font-weight: normal;
}

.btn {
    margin-top: 50px;
    /*text-decoration: none;*/
    display: inline-block;
    padding: 8px 16px;
}

.btn:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #4285f4;
    color: white;
}

.next {
    right: 30px;
    background-color: #4285f4;
    color: white;
}

.round {
    border-radius: 50%;
}

.sb {
    font-size: 10px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 10%;
    background-color: #ddd;
}

li {
    font-size: large;
}
