@media screen and (min-width: 768px) {
    header h1 {
        color :blue;
        animation-name: rb;
        animation-duration: 2s;
    }
}

@media screen and (max-width: 992px) {
    header h1 {
        color: red;
        animation-name: br;
        animation-direction: 2s;

    }
}

@keyframes br {
    from {color:blue;}
    to {color:red;}
}

@keyframes rb {
    from {color:red;}
    to {color:blue;}
}

.azure {
    background-color: #EFF;
}

.box {
    border: 2px solid black;
    box-shadow: 0px 0px 5px;
    margin: 5mm;
    padding: 3mm;
}

aside  {
    /* Specyfikacja wyglądu / Specification of the appearance */
    position: absolute;
    top: 125px;
    right: 5px;
    width: 50%;
}
footer {
    bottom: 5px;
    /* Specyfikacja wyglądu / Specification of the appearance */
}


main {
    /* Specyfikacja wyglądu / Specification of the appearance */
    width: 420px;
}
nav {
    /* Specyfikacja wyglądu / Specification of the appearance */
    width: 150px;
}
nav ul {
    /* Specyfikacja wyglądu / Specification of the appearance */
}
nav li {
    /* Specyfikacja wyglądu / Specification of the appearance */
}

body {
    min-width: 850px;
}